.submit-process {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "a a b";
}

.submit-process-1 {
    grid-area: a;
}

.submit-process-2_info {
    margin-left: 60px;
    grid-area: b;
    background: #F6FFFB;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 24px 15px 10px 30px;
}

.double-grid-box {
    border-bottom: 1px solid var(--border-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    margin: 15px 0;
    align-items: center;
}

.double-grid-box.container.no-border-box {
    border: none;
}

.bold-title {
    text-align: left;
    font: normal normal bold 14px/16px Arial;
    letter-spacing: 0px;
    color: #303030;
}

.normal-title.shipmentid-title {
    text-align: left;
    font: normal normal normal 14px/16px Arial;
    letter-spacing: 0px;
    color: #303030;
}

.normal-text {

    text-align: left;
    font: normal normal normal 14px/16px Arial;
    letter-spacing: 0px;
    color: #303030;

    margin-bottom: 5px;
}

.submit-process-2_files {
    display: flex;
    margin-left: 5rem;
}

.file-icon,
.file-icon i {
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 15px;
    padding-top: 7px;
    margin: 12px 2.5px 0 2.5px;
    color: #707070;
    font-size: 40px;
}

.light-text {
    text-align: left;
    font: normal normal normal 12px/14px Arial;
    letter-spacing: 0px;
    color: #303030;
    text-align: center;
    margin-top: 6px;
}

.file-icon:hover {
    background: #F6FFFB;
    border: 1px solid #23B574;
}


.process-icon {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: #23B574;

    display: flex;
    justify-content: center;
    align-items: center;
}

.process-icon.icon1 {
    background-color: white;
    border: 3px solid #23B574;
}

.process-icon.icon1 i {
    font-size: 170%;
    color: #23B574;
}

.process-icon.icon2 {
    border: 3px solid #23B574;
    color: white;
}

.process-icon.icon3 {
    background: white;
    border: 3px solid var(--border-color);
}

.process-icon-text.text3 {
    color: black;
}

.process-icon-text {
    font-size: 14px;
}

.submit-process {
    margin-left: 29px;
    margin-top: 28px;
}

.submit-process-step {
    margin: 10px 15px;
}


.process-title {
    padding: 7px;
    margin-left: 10px;
}

.submitted-text {
    text-align: left;
    font: normal normal normal 14px/16px Arial;
    letter-spacing: 0px;
    color: #23B574;
    font-size: 14px;
}

.next-step-text {
    text-align: left;
    font: normal normal bold 14px/16px Arial;
    letter-spacing: 0px;
    color: #23B574;
    font-weight: bold;
    font-size: 14px;
}

.submit-process-step {
    display: flex;

}

.process-title.unreachable3 {
    text-align: left;
    font: normal normal normal 14px/16px Arial;
    letter-spacing: 0px;
    color: #303030;
}

.submit-step-menu {
    display: flex;
}

.submit-menu-icon {
    font-size: 200%;
    margin-top: 3px;
}

.submit-menu-button {
    background: white;
    cursor: pointer;
}

.big-subtitle {

    text-align: left;
    font: normal normal normal 14px/16px Arial;
    letter-spacing: 0px;
    color: #303030;

    margin-top: 46px;
    margin-bottom: 19px;
}

.delivery-order-fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.small-subtitle {
    text-align: left;
    font: normal normal normal 12px/14px Arial;
    letter-spacing: 0px;
    color: #303030;

    margin-bottom: 10px;
}

.delivery-field {
    margin: 0 19px
}

.input-delivery {
    padding: 13px 20px 15px 17px;
    min-width: 85%;
    border-radius: 5px;
    border: 1px solid var(--border-color);
}

.update-delivery-btn {
    background: #23B574 0% 0% no-repeat padding-box;
    border-radius: 5px;
    padding: 7px 25px;
    margin-top: 16px;

}

.butto-update-container {
    display: flex;
    justify-content: right;
}

.btn-text {
    font: normal normal normal 12px/14px Arial;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.small-light-subtitle {

    text-align: left;
    font: normal normal normal 12px/14px Arial;
    letter-spacing: 0px;
    color: #303030;
    opacity: 0.5;
    margin-top: -15px;
    margin-bottom: 20px;
}

.usernote-container {
    border: 1px solid var(--border-color);    
    border-radius: 5px;
    min-width: 550px;
    background: #F6FFFB;
    padding: 15px;
}

.smallnote-date {
    text-align: right;
    margin-top: 5px;
    margin-bottom: -12px;
    margin-right: -12px;

    font: normal normal normal 8px/9px Arial;
    letter-spacing: 0px;
    color: #303030;
}

.usernote-field{
    margin-top: 25px;
    min-width: 550px;
    min-height: 100px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}