.side-bar {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-bottom: 0.01%;
    background: #F6FFFB;
    height: 100vh;
    min-width: 101px;
    border-right: 1px solid #E9E9E9;
}

.nav-bar_main-img {
    padding: 3px;
    width: fit-content;
    height: fit-content;
    margin: 5px;

    margin: 90px auto auto auto;

    justify-content: center;
    align-items: center;

}

.nav-bar_items {
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
    padding: 10px;
    min-height: 90%;
}

.nav-bar_list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}
.router-link-exact-active i{
    opacity: 1 !important;
}
.router-link-active:after{
    content: "";
    height: 36px;
    top: -7px;
    width: 4.5px;
    background: #23B574 0% 0% no-repeat padding-box;
    border-radius: 5px 0px 0px 5px;
    right: 0;
    position: absolute;
    margin-bottom: 2px;
}
.nav-bar_item{
    /*opacity: 0.4;*/
    position: relative;
    text-align: center;
    width: 101px;
}
.nav-bar_item i{
    opacity: .4;
    color:#23B574;
    font-size: 22px;
}
.nav-bar_item i:hover{
    opacity: 1;
}