* {
    padding: 5px;
    margin: 5px;
    font: normal normal normal 20px/23px Arial;
    letter-spacing: 0px;
    color: #303030;
}

/*
.main-img_container {}
.main-img{}
*/

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 250px;
}

.username-login {
    margin-bottom: 5px;

}

.login-button button {

    background: #23B574 0% 0% no-repeat padding-box;
    border-radius: 5px;
    border: none;
    text-align: left;
    font: normal normal normal 12px/14px Arial;
    letter-spacing: 0px;
    color: #FFFFFF;
    padding: 7px 31px 7px 31px;
}

input {

    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E9E9E9;
    border-radius: 5px;
    padding: 14px;
    margin: 7px;
}